
<!-- Nav Sidebar -->
<!-- This is source ordered to be pulled to the left on larger screens -->

<div class="large-3 pull-9 columns left">

	<ul class="side-nav left">
		<li class="left"><a href="/savedSmsConfig">SMS
				Campaigns</a></li>
		<li class="left"><a href="/execFormulaStatus">Formula Campaigns</a></li>
		<li class="left"><a
			href="/showConversionFiles">Google Campaigns</a></li>
		<li class="left"><a href="/blogStatus">Blog Digest Campaigns</a></li>
	</ul>

	<!--       <p><img src="http://placehold.it/320x240&text=Ad" /></p> -->

</div>

