<!-- Header and Nav -->

<!--     <div class="large-3 columns"> -->
<!--       <h1><img src="http://placehold.it/400x100&text=Logo" /></h1> -->
<!--     </div> -->
<div class="five columns offset-by-seven">
	<ul class="inline-list right ">
		<li><a href="soapSettings?init=1">SOAP</a></li>
		<li><a href="/changePassword?init=1">Profile</a></li>
		<li><a
			href="https://docs.google.com/document/d/1WwFuHVgsfTXVDY1299GBLalfS_ZcAtRFEa5gfAltV9k/edit#heading=h.gjdgxs"
			target="_blank">Help</a></li>
		<li><a href="@{Secure.logout()}">Logout</a></li>
	</ul>
</div>

<!-- End Header and Nav -->

