<head>
<meta name="viewport" content="width=device-width" />
<title>Marketo Cloud Apps (Beta)</title>

<!-- Included CSS Files (Uncompressed) -->
<!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->

<!-- Included CSS Files (Compressed) -->
<link rel="stylesheet" href="/public/stylesheets/foundation.min.css">
<link rel="stylesheet" href="/public/stylesheets/app.css">

<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/modernizr.foundation.js"></script>
<script src="/public/javascripts/cryptoJS-md5.js"></script>
<script src="/public/javascripts/cryptoJS-base64.js"></script>
</head>
<body>
	<div class="row">
		<div id="top" class="eight columns centered"
			style="width: 100%; height: 83px; color: white; font-size: 32px">
			<a href="/"><img
				style="vertical-align: middle;"
				src="/public/images/marketo-logo-circle.png" /></a> 
		</div>
	</div>


	<div id="login" class="row">

		<h1>&{'secure.title'}</h1>

		#{form @authenticate()} #{if flash.error}
		<div class="alert-box alert">&{flash.error}</div>
		#{/if} #{if flash.success}
		<div class="alert-box success">&{flash.success}</div>
		#{/if}

 		#{if msg}
		<div id="msg" class="alert-box success">&{msg}</div>
		#{/if}
		<p id="username-field">
			<input type="text"
				name="username" id="username" placeholder="Munchkin Id" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'secure.password'}</label> <input
				type="password" name="password" id="password" placeholder="Password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true"
				${flash.remember ? 'checked="true" ' : ''} /> <label for="remember">&{'secure.remember'}</label>
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'secure.signin'}" />	<br/><br/> <a
				href="/registerUser">Create New Account</a> | <a
				href="/fyp?init=1">Forgot Password</a>
		</p>
		#{/form}


	</div>
	<script>
		jQuery(function() {
			$("#signin")
					.click(
							function() {
								var passwordVal = $("#password").val();
								var hash = CryptoJS.MD5(passwordVal);
								var encHash = CryptoJS.enc.Base64.stringify(hash);
								$('#password').val(encHash);
							})
		});
	</script>
</body>