#{extends 'main.html' /} #{set title:'Blog Campaigns' /} #{top-new
urlNew:"/blogConfig?init=1",urlResults:"/blogStatus"/}

<table class="center " style="width:100%">
	<thead>
		<tr >
			<th class="two"> Id</th>
			<th class="two">Feed URL</th>
			<th class="two" >Schedule</th>
			<th class="two">Status</th>
		</tr>
	</thead>
	<tbody>

		%{ for (campaign in allCampaigns) { }%
		<tr >
			<td class="two">${campaign.id}</td>
			<td class="two">${campaign.blogUrl}</td>
			<td class="two">${campaign.emailOnDays} ${campaign.emailAtTime}
				${campaign.emailTZ}</td>
			<td class="two">${campaign.status} | <a
				href="/cancelCampaign?id=${campaign.id}&type=1004">Cancel</a></td>

		</tr>
		%{ } }%

	</tbody>
</table>

<script>
	$(document).ready(function() {
		$("#blogdd").addClass("active");
	});
</script>

