#{extends 'main.html' /} #{top-results
urlNew:"/blogConfig",urlResults:"/blogStatus"/}

<p>

	#{form @Application.blogConfig()} <input type="text" name="url"
		id="url" placeholder="URL of settings page." maxlength="200"
		size="100" style="font-size: 16px" /> <br /> <input type="text"
		name="days" id="days" placeholder="Mon, Wed, Fri" />
<div class="row">
	<div class="five columns">
		<input type="text" name="time" id="time"
			placeholder="Time (in 24 hour format) - e.g, 1830" />
	</div>
	<div class="two columns pull-five">
		<select id="tz" name="tz">
			<option value="PST">Pacific</option>
			<option value="MST">Mountain</option>
			<option value="CST">Central</option>
			<option value="EST">East</option>
		</select>
	</div>
</div>
<input type="submit" id="submit" value="Submit" />
#{/form}
</p>


<script>
	jQuery(function() {
		$("#submit")
				.click(
						function() {
							$(".alert-box").hide();
							var hasError = false;

							var urlVal = $("#url").val();
							var daysVal = $("#days").val();
							var timeVal = $("#time").val();

							if (urlVal == '') {
								$("#url")
										.after(
												'<div class="alert-box alert">Please provide your Blog Digest Settings URL</span>');
								hasError = true;
							} else if (daysVal == '') {
								$("#days")
										.after(
												'<div class="alert-box alert">Please enter the days you wish to send the digest</span>');
								hasError = true;
							} else if (timeVal == '') {
								$("#time")
										.after(
												'<div class="alert-box alert">Please enter the time you wish to send the digest</span>');
								hasError = true;
							} else if (timeVal > 2359 || timeVal < 0) {
								$("#time")
										.after(
												'<div class="alert-box alert">Please enter a time between 0000 and 2359 hours</span>');
								hasError = true;
							}
							if (hasError == true) {
								return false;
							}
						});
	});

	$(document).ready(function() {
		$("#blogdd").addClass("active");
	});
</script>

