#{extends 'main.html' /} #{set title:'Blog Campaigns' /} #{top-new
urlNew:"/blogConfig?init=1",urlResults:"/blogStatus"/}

<table style="margin:0px">
	<thead>
			<th>Id</th>
			<th>Feed URL</th>
			<th>Schedule</th>
			<th>Status</th>
	</thead>
	<tbody>

		%{ for (campaign in allCampaigns) { }%
		<tr >
			<td >${campaign.id}</td>
			<td >${campaign.blogUrl} <b>Send to: </b>${campaign.leadList}</td>
			<td >${campaign.emailOnDays} ${campaign.emailAtTime}
				${campaign.emailTZ}</td>
			<td >${campaign.status} | <a
				href="/cancelCampaign?id=${campaign.id}&type=1004">Cancel</a></td>

		</tr>
		%{ } }%

	</tbody>
</table>

<script>
	$(document).ready(function() {
		$("#blogdd").addClass("active");
	});
</script>

