#{extends 'main.html' /} 
#{top-results
urlNew:"/blogConfig",urlResults:"/blogStatus"/}

<p>

	#{form @Application.blogConfig()} <input type="text" name="url"
		id="url" placeholder="URL of settings page." maxlength="200"
		size="100" style="font-size: 16px" /> <br /> <input type="text"
		name="days" id="days" placeholder="Mon, Wed, Fri" />
<div class="row">
	<div class="large-5 columns">
		<input type="text" name="time" id="time"
			placeholder="Time (in 24 hour format) - e.g, 1830" />
	</div>
	<div class="large-3 columns">
		<select id="tz" name="tz">
			<option value="PST">Pacific</option>
			<option value="MST">Mountain</option>
			<option value="CST">Central</option>
			<option value="EST">East</option>
		</select>
	</div>
</div>

<script>
	$('#datetime').datetimepicker();
</script>
<input type="submit" value="Submit" />
</input>
#{/form}
</p>


<script>
	$(document).ready(function() {$("#blogdd").addClass("active");});
</script>

