#{extends 'main.html' /} #{form @Application.changePassword()}
<input type="password" name="cpw" id="cpw"
	placeholder="Current Password" maxlength="50" size="25"
	style="font-size: 16px" />
<br />
<input type="password" name="pw1" id="pw1" placeholder="Password"
	maxlength="50" size="25" style="font-size: 16px" />
<br />
<input type="password" name="pw2" id="pw2"
	placeholder="Re-enter Password" maxlength="50" size="25"
	style="font-size: 16px" />
<br />
<input id="submit" type="submit" value="Save" />

#{/form}

<script>
	jQuery(function() {
		$("#submit")
				.click(
						function() {
							$(".alert-box").hide();
							var hasError = false;
							var noPass = false;

							var currPwVal = $("#cpw").val();
							var passwordVal = $("#pw1").val();
							var checkPassVal = $("#pw2").val();

							if (currPwVal == '') {
								$("#cpw")
										.after(
												'<div class="alert-box alert">Please enter your current password.</span>');
								return false;
							}  
							
							if (passwordVal == '' || checkPassVal == "") {
								noPass = true;
							}

							if (noPass == true) {
								$("#pw1")
										.after(
												'<div class="alert-box alert">Please enter new password</span>');
								return false;
							}

							if (passwordVal != checkPassVal) {
								$("#pw2")
										.after(
												'<div class="alert-box alert">Passwords do not match.</span>');
								return false;
							}

							var hash1 = CryptoJS.MD5(currPwVal);
							var encHash1 = CryptoJS.enc.Base64.stringify(hash1);
							$('#cpw').val(encHash1);
							
							var hash = CryptoJS.MD5(passwordVal);
							var encHash = CryptoJS.enc.Base64.stringify(hash);
							$('#pw1').val(encHash);
							$('#pw2').val(encHash);


							if (hasError == true) {
								return false;
							}

						});
	});
</script>

