#{extends 'main.html' /} #{set title:'Formula Campaigns' /} #{top-new
urlNew:"/formulaConfig",urlResults:"/execFormulaStatus"/}

<table class="center">
	<thead>
		<tr>
			<th class="two">Id</th>
			<th class="two">Campaign Formula</th>
			<th class="two">Status</th>
			<th class="two">Status Message</th>
			<th class="two">Number of Leads Synced</th>
		</tr>
	</thead>
	<tbody>

		%{ for (campaign in allCampaigns) { }%
		<tr>
			<td class="two">${campaign.id}</td>
			<td class="two">${campaign.formula}</td>
			<td class="two">${campaign.status}</td>
			<td class="two">${campaign.statusMessage}</td>
			<td class="two">${campaign.numLeadsSynced}</td>
		</tr>
		%{ } }%

	</tbody>
</table>

<script>
	$(document).ready(function() {$("#formuladd").addClass("active");});
</script>


