#{extends 'main.html' /} #{set title:'SMS Campaigns' /}

#{top-new urlNew:"/smsConfig",urlResults:"/savedSmsConfig"/}

<table style="margin:0px">
	<thead>
		<tr>
			<th >Id</th>
			<th >Campaign URL</th>
			<th >Messages Sent</th>
			<th >Messages Recvd</th>
			<th >Status</th>
		</tr>
	</thead>
	<tbody>

		%{ for (campaign in allCampaigns) { }%
		<tr>
			<td >${campaign.id}</td>
			<td >${campaign.campaignURL}</td>
			<td >${campaign.numSent}</td>
			<td >${campaign.numRecvd}</td>
			<td >${campaign.status} | <a
				href="/cancelCampaign?id=${campaign.id}&type=1001">Cancel</a></td>
		</tr>
		%{ } }%

	</tbody>
</table>

<script>
	$(document).ready(function() {$("#smsdd").addClass("active");});
</script>

