#{extends 'main.html' /} #{set title:'SMS Campaigns' /}

#{top-new urlNew:"/smsConfig",urlResults:"/savedSmsConfig"/}

<table class="center">
	<thead>
		<tr>
			<th class="two">Id</th>
			<th class="two">Campaign URL</th>
			<th class="two">Messages Sent</th>
			<th class="two">Messages Recvd</th>
			<th class="two">Status</th>
		</tr>
	</thead>
	<tbody>

		%{ for (campaign in allCampaigns) { }%
		<tr>
			<td class="two">${campaign.id}</td>
			<td class="two">${campaign.campaignURL}</td>
			<td class="two">${campaign.numSent}</td>
			<td class="two">${campaign.numRecvd}</td>
			<td class="two">${campaign.status} | <a
				href="/cancelCampaign?id=${campaign.id}&type=1001">Cancel</a></td>
		</tr>
		%{ } }%

	</tbody>
</table>

<script>
	$(document).ready(function() {$("#smsdd").addClass("active");});
</script>

