<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/2000/REC-xhtml1-200000126/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="/public/stylesheets/foundation.css"></link>

</head>

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />

<title>Marketo Cloud Apps (Beta)</title>

<!-- Included CSS Files (Uncompressed) -->
<!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->

<!-- Included CSS Files (Compressed) -->
<link rel="stylesheet" href="/public/stylesheets/foundation.min.css" />
<link rel="stylesheet" href="/public/stylesheets/app.css" />

<!-- Included JS Files (Compressed) -->
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/foundation.min.js"></script>
<script src="/public/javascripts/modernizr.foundation.js"></script>
<script src="/public/javascripts/cryptoJS-md5.js"></script>
<script src="/public/javascripts/cryptoJS-base64.js"></script>

<!-- Initialize JS Plugins -->
<script src="/public/javascripts/app.js"></script>


</head>

<body>

	<div class="row">
		<div id="top" class="eight columns centered"
			style="width: 100%; height: 83px; color: white; font-size: 32px">
			<a href="http://www.marketo.com"><img
				style="vertical-align: middle;"
				src="/public/images/marketo-logo-circle.png" /></a> Cloud Apps (Beta)
		</div>
	</div>

	<div class="row">
		<div class="eight columns centered">
			<br></br> #{form @NonGatedApp.registerUser()} <input type="text"
				name="munchkinId" id="munchkinId" placeholder="Munchkin Id"
				maxlength="50" size="25" style="font-size: 16px" /> <br /> <input
				type="password" name="pw1" id="pw1" placeholder="Password"
				maxlength="50" size="25" style="font-size: 16px" /> <br /> <input
				type="password" name="pw2" id="pw2" placeholder="Re-enter Password"
				maxlength="50" size="25" style="font-size: 16px" /> <br /> <input
				type="password" name="sec1" id="sec1"
				placeholder="Secret 1 - Mother's Maiden Name" maxlength="50"
				size="25" style="font-size: 16px" /> <br /> <input type="password"
				name="sec2" id="sec2"
				placeholder="Secret 2 - Make/Model of first vehicle" maxlength="50"
				size="25" style="font-size: 16px" /> <br /> <input type="checkbox"
				id="eula" name="eula" value="true">I agree to the <a
				href="/public/eula.html" target="_blank">Beta Services Agreement</a></input>
			<br /> <input id="submit" type="submit" value="Register" />
			#{/form}

			<script>
				jQuery(function() {
					$("#submit")
							.click(
									function() {
										$(".alert-box").hide();
										var hasError = false;
										var munchVal = $("#munchkinId").val();
										var passwordVal = $("#pw1").val();
										var checkVal = $("#pw2").val();
										var sec1Val = $("#sec1").val();
										var sec2Val = $("#sec2").val();

										if (munchVal == '') {
											$("#munchkinId")
													.after(
															'<div class="alert-box alert">Please provide your munchkin Id</span>');
											hasError = true;
										} else if (passwordVal == '') {
											$("#pw1")
													.after(
															'<div class="alert-box alert">Please enter a password.</span>');
											hasError = true;
										} else if (checkVal == '') {
											$("#pw2")
													.after(
															'<div class="alert-box alert">Please re-enter your password.</span>');
											hasError = true;
										} else if (passwordVal != checkVal) {
											$("#pw2")
													.after(
															'<div class="alert-box alert">Passwords do not match.</span>');
											hasError = true;
										} else if (sec1Val == '') {
											$("#sec1")
													.after(
															'<div class="alert-box alert">Password retrieval secrets are required</span>');
											hasError = true;
										} else if (sec2Val == '') {
											$("#sec2")
													.after(
															'<div class="alert-box alert">Password retrieval secrets are required</span>');
											hasError = true;
										}

										if (hasError == true) {
											return false;
										}

										var pwHash = CryptoJS.MD5(passwordVal);
										var encPwHash = CryptoJS.enc.Base64
												.stringify(pwHash);
										$('#pw1').val(encPwHash);
										$('#pw2').val(encPwHash);

										var sec1Hash = CryptoJS.MD5(sec1Val);
										var encSec1Hash = CryptoJS.enc.Base64
												.stringify(sec1Hash);
										$('#sec1').val(encSec1Hash);

										var sec2Hash = CryptoJS.MD5(sec2Val);
										var encSec2Hash = CryptoJS.enc.Base64
												.stringify(sec2Hash);
										$('#sec2').val(encSec2Hash);

									});
				});
			</script>
		</div>
	</div>
</body>
</html>